{% extends 'banner.html.twig' %}
{% block content %}
    <div id="preferences-div">
        <h1>Account Preferences</h1>
        <fieldset>
            <p>Revieve email notifications:</p>
            <input id="yesEmail" type="radio" value="Yes" name="emailNotification">
            <label for="yesEmail">Yes</label>
            <br>
            <input id="noEmail" type="radio" value="No" name="emailNotification">
            <label for="noEmail">No</label>
            <br>
            <form action="{{ account_preferences }}" method="post">
                <input type="submit" value="Confirm Changes">
            </form>
        </fieldset>
        <form action="{{ account_overview }}" method="post">
            <input type="submit" value="Account Overview">
        </form>
    </div>
{% endblock %}