{% extends 'banner.html.twig' %}
{% block content %}
    <section id="filter_2">
        <h1>Apply Filter:</h1>
        <form id="advanced_search_2" action="{{ adv_search }}" method="post">
            <label for="genres">Choose a genre:</label>
            <select class="filter_option" name="genre" id="genres">
                <option class="filter_option" value="Any">Any</option>
                <option class="filter_option" value="Action">Action</option>
                <option class="filter_option" value="Adventure">Adventure</option>
                <option class="filter_option" value="Comedy">Comedy</option>
                <option class="filter_option" value="Romance">Romance</option>
                <option class="filter_option" value="Superhero">Superhero</option>
                <option class="filter_option" value="Sci-fi">Sci-fi</option>
                <option class="filter_option" value="Animation">Animation</option>
            </select>
            <label for="min-date">Choose a release date range:</label>
            <input class="filter_option" name="min-date" type="date" value="min date" id="date" placeholder="search term" aria-label="search">
            <input class="filter_option" name="max-date" type="date" value=" max date" id="date" placeholder="search term" aria-label="search">
            <label for="cast">Enter Cast Member: </label>
            <input class="filter_option" class="filter_option" id="cast" name="cast" type="text" size="30" maxlength="50">
            <label for="director">Enter Director Name: </label>
            <input class="filter_option" class="filter_option" id="director" name="director" type="text" size="30" maxlength="50">
            <label for="ageRating">Choose a Age Rating:</label>
            <select class="filter_option" name="ageRating" id="ageRating">
                <option class="filter_option" value="Any">Any</option>
                <option class="filter_option" value="PG-13">PG-13</option>
                <option class="filter_option" value="Uc">Uc</option>
                <option class="filter_option" value="12">12</option>
                <option class="filter_option" value="12A">12A</option>
                <option class="filter_option" value="15">15</option>
                <option class="filter_option" value="18">18</option>
                <option class="filter_option" value="R18">R18</option>
            </select>
            <input type="submit" value="Search" id="search_btn">
        </form>
    </section>
{% endblock %}