body {
    background-image: linear-gradient(to left, #e3714d, #c4b2a4);
    font-size: 20px;
    font-family: sans-serif;
}
/*****************************
 Banner Style
 *****************************/

hr {
    border: 1px solid black;
}

#banner-nav a {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    vertical-align: baseline;
    width: auto;

}

#banner-nav a:hover {
    background-color: #fda429;
}

/*****************************
 Homepage Style
 *****************************/
#homepage-form{
    padding:  0.25em;
    margin: 0.25em;
    transition: background-color 0.7s;
    text-decoration: none;
    width: auto;
    font-size: 20px;
}

#homepage-fieldset{
    border: 1px solid transparent;
}

#search_btn{
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    vertical-align: baseline;
    width: auto;
}

#search_btn:hover {
    background-color: #fda429;
}

#search_movie{
    padding:  0.25em;
    margin: 0.25em;
    transition: background-color 0.7s;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    alignment: center;
}

#homepage-fieldset{

}

#search_results{
    padding: 0.25em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
}

/*****************************
 Login and Register Style
 *****************************/

#login_btn{
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    vertical-align: baseline;
    width: auto;
}

#login_btn:hover {
    background-color: #fda429;
}

#register_btn{
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    vertical-align: baseline;
    width: auto;
}

#register_btn:hover {
    background-color: #fda429;
}



/*****************************
  MovieView and SearchResults
 *****************************/
#film_id {
    visibility: hidden;
}

#movie_view_image {
    float: right;
}

#view_btn {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    vertical-align: baseline;
    width: auto;
}

#showtimes {

}






